 {%for recently_played_song in recently_played_songs%}
                    <a href="javascript:firescript('{{recently_played_song.songid.album.albumid}}','{{recently_played_song.songid.serialid}}','{{recently_played_song.songid.musicid}}');" id="{{recently_played_song.songid.musicid}}"" class="related-artist">

                      <span class="related-artist__img">

                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/hoodie.jpg" alt="Hoodie Allen" />

                      </span>

                      <span class="related-artist__name">{{recently_played_song.songid.title}}</span>

                    </a>
      {%endfor%}